<md-card>
  <md-input-container>
    <input class="search" mdInput [(ngModel)]="searchQuery"
    name="search" placeholder="Search for images">
  </md-input-container>
  <div class="credits"><h2>We use <a href="https://developers.giphy.com/docs/">Giphy API  <img class="dev-logo" src="https://developers.giphy.com/static/img/dev-logo-lg.7404c00322a8.gif"></a></h2></div>
  <br>
  <button (click)="searchGif(searchQuery)"
    md-raised-button class="searchButton" type="button">Find GIFs</button>
</md-card>

<div *ngIf="searching">
  <md-progress-bar mode="indeterminate"></md-progress-bar>
  Searching
</div>
  <h4 *ngIf="gifFound" md-subeader>Results</h4>
    <masonry [useImagesLoaded]="true" class=col-md-offset-1>
    <masonry-brick  *ngFor="let gif of gifs" class="gif-container">
      
        <a href="{{gif.gif}}" target="_bank">
          <img md-card-image src="{{gif.url}}">
         </a>
      <div class="md-card-content" style="color:white;">Size: {{gif.width}}x{{gif.height}}</div>
      
     </masonry-brick>
  </masonry>

  <button id="openModalButton" [hidden]="true" data-toggle="modal" data-target="#myModal">Open Modal</button>

  <div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">No GIFs Found!</h4>
      </div>
      <div class="modal-body">
        <p>Kindly enter a valid keyword.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>