<md-card>
  <md-input-container>
    <input class="search" mdInput [(ngModel)]="searchQuery"
    name="search" placeholder="Search for images">
  </md-input-container>
  <div class="credits"><h2>We use <a href="https://developers.giphy.com/docs/">Giphy API  <img class="dev-logo" src="https://developers.giphy.com/static/img/dev-logo-lg.7404c00322a8.gif"></a></h2></div>
  <br>
  <button (click)="searchGif(searchQuery)"
    md-raised-button class="searchButton" type="button">Find GIFs</button>
</md-card>

<div *ngIf="searching">
  <md-progress-bar mode="indeterminate"></md-progress-bar>
  Searching
</div>

<md-card>

  <h4 *ngIf="gifFound" md-subeader>Results</h4>
  <masonry coloumn-width="200" [useImagesLoaded]="true">
    <masonry-brick  *ngFor="let gif of gifs" class="  gif-container">
      <md-card>
        <a href="/" target="_bank">
          <img md-card-image src="{{gif}}">
         </a>
      </md-card>
     </masonry-brick>
  </masonry>
</md-card>