#search-container{
    margin-top:20%;
}

.search{
  height: 70px;
  max-height: 70px;
  font-size: 3.5em;
  color: #;
}

.avatar{
  margin-bottom: 7px;
}

.searchButton{
  background-color: #CA1740;
  color: #fff;
  margin-top:20px;
}

.gif-container{
  width: 250px  ;
  min-height: 100px;
  max-width: 300px;
  margin: 8px;
  border-radius: 2px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
  overflow: hidden;
}

.results{
  padding: 8px;
  margin-bottom: 12px;
}
md-input-container{
  background-color: rgba(200,200,200,0.6);
}
.searchButton[_ngcontent-c1]{
 background-color: #7b1fa2 
}
  img.dev-logo {
    width: 232px;
}
.credits{
  float:right;
  
}
.credits>h2>a{
  color:yellowgreen;

}
.credits>h2>a:hover{
  text-decoration: none;
  color:red;
}
.md-card-content{
  text-align: center;
  color:white;
  }